@using HoangLongStore.ViewModels
@model ProductBrandsViewModel

<h1>Create Product</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data"  asp-controller="Products" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Product.NameProduct" class="control-label"></label>
                <input asp-for="Product.NameProduct" class="form-control" />
                <span asp-validation-for="Product.NameProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.QuantityProduct" class="control-label"></label>
                <input asp-for="Product.QuantityProduct" class="form-control" />
                <span asp-validation-for="Product.QuantityProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.PriceProduct" class="control-label"></label>
                <input asp-for="Product.PriceProduct" class="form-control" />
                <span asp-validation-for="Product.PriceProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Product.DescriptionProduct" class="control-label"></label>
                 <textarea asp-for="Product.DescriptionProduct" class="form-control"  rows="4" ></textarea>
                <span asp-validation-for="Product.DescriptionProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Brand</label>
                <select asp-for="@Model.Product.BrandId" 
                asp-items="@(new SelectList(Model.Brands,"Id", "Name"))" 
                class="form-control">
            </select>
             </div>

            <div class="form-group">
                <label asp-for="@Model.FilesImage" class="col-form-label">Select Multiple Files</label>
                <input asp-for="@Model.FilesImage"  class="form-control" multiple/>
            </div>

            <div class="form-group">
                <input type="submit" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
