@model HoangLongStore.Models.Product

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Product</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="NameProduct" class="control-label"></label>
                <input asp-for="NameProduct" class="form-control" />
                <span asp-validation-for="NameProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="QuantityProduct" class="control-label"></label>
                <input asp-for="QuantityProduct" class="form-control" />
                <span asp-validation-for="QuantityProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PriceProduct" class="control-label"></label>
                <input asp-for="PriceProduct" class="form-control" />
                <span asp-validation-for="PriceProduct" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DescriptionProduct" class="control-label"></label>
                <input asp-for="DescriptionProduct" class="form-control" />
                <span asp-validation-for="DescriptionProduct" class="text-danger"></span>
            </div>
            
            <div class="form-group">
                <label asp-for="FilesImage" class="col-form-label">Select Multiple Files</label>
                <input asp-for="FilesImage" class="form-control" multiple/>
            </div>

            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
