@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Product>
@if (User.IsInRole("admin")){

<h1> Hello Admin</h1>

<div class="form-group">
  <a asp-controller="Products" asp-action="Create" class="btn btn-primary">
    Create a new Product
  </a>
</div>

<div class="form-group">
  <form>
    <input type="text" name="category" placeholder="Search by Product" />
    <button type="submit" class="btn btn-primary">Search</button>
  </form>
</div>

<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name Product</th>
      <th scope="col">Quantity Product</th>
      <th scope="col">Price Product</th>   
      <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>
    @foreach (var item in Model){
      <tr>
      <th scope="row">@item.Id</th>
      <td>@item.NameProduct</td>
      <td>@item.QuantityProduct</td>
      <td>@item.PriceProduct</td>

      <td>
        <a asp-controller="Products" asp-action="Edit" asp-route-id=@item.Id class="btn btn-info"> 
          Edit
        </a>
        <a asp-controller="Products" asp-action="Delete" asp-route-id=@item.Id class="btn btn-danger"> 
          Delete
        </a>
        <a asp-controller="Products" asp-action="Detail" asp-route-id=@item.Id class="btn btn-success"> 
          Details
        </a>
      </td>
    </tr>
  }
   
  </tbody>
</table>
}
else {
   <section style="background-color: #eee;">
  <div class="container py-5">
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4 mb-md-0"  style=" margin-bottom: 10px !important">
        <div class="card" style= " border-radius: 10px !important " >
          
          <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/E-commerce/Products/5.webp"
            class="card-img-top" alt="Gaming Laptop" style= " border-radius: 10px !important " />
          <div class="card-body">
            <div class="d-flex justify-content-between">
              <p class="small"><a href="#!" class="text-muted">Laptops</a></p>
              <p class="small text-danger"><s>$1399</s></p>
            </div>

            <div class="d-flex justify-content-between mb-3">
              <h5 class="mb-0">Toshiba B77</h5>
              <h5 class="text-dark mb-0">$1299</h5>
            </div>

            <div class="d-flex justify-content-between mb-2">
              <p class="text-muted mb-0">Available: <span class="fw-bold">5</span></p>
              <div class="ms-auto text-warning">
                <i class="fa fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star"></i>
                <i class="fas fa-star-half-alt"></i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
}